.home_container{
    background-color: #E8DFCA;
    /* margin-top: 3.5rem; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /* height: 100vh; */
    /* height: 100%; */
    /* padding-bottom: 3.5rem; */
    transition: all 0.3s ease-in-out;
}
.home_container.goLight{
    background-color: #E8DFCA;
    color: black;
}
.home_container.goDark{
    background-color: #3C4245;
    color : white;
}

.home_container.goLight h3{
    border-bottom: 2px solid black;
}
.home_container.goDark h3{
    border-bottom: 2px solid white;

}

.home{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 30%;
}

@media  (max-width: 1208px) {
    .home{
        width: 80%;
    }
}

@media  (max-width: 1208px) {
    .home section{
        width: 50%;
    }
}

@media  (max-width: 750px) {
    .home section{
        width: 80%;
    }
}


section h3{
    width: fit-content;
}

/* work_section */


/* bio_section */
.bio_section{
    margin-top: 1rem;
    font-size: 1.1rem;
    font-weight: 500;
}

.info{
    margin-bottom: 1rem;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    text-align: left;
}

.info span{
    margin-right: 2rem;
}

.info p{
    margin: 0;
}

/* loves_info */

.loves_info{
    margin-top: 1rem;
    font-size: 1.1rem;
    font-weight: 500;
}

.contact_btn{
    margin-top: 2rem;
    background-color: #FF9494;
    border: none;
    text-align: right;
    font-size: 16px;
    padding: 0.7rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: 0.3s;
}

.contact_btn:hover{
    background-color: #ff7b7b;
}