.container{
    position: fixed;
    background-color: rgba(244, 124, 124, 0.8);
    display: flex;
    justify-content: center;
    width: 100%;
    top: 0;
    /* blur effefct */

    backdrop-filter: blur(0.3rem);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    z-index: 2;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3.5rem;
    font-size: 18px;
    width: 800px;
}

.nav_logo{
    width: auto;
    text-align: right;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.nav_logo img{
    width: 2.7rem;
    height: 2.7rem;
    margin-right: 0.8rem;
}

.nav_links{
    width: 30%;
    text-align: left;
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    justify-content: space-around;
}

.nav_links a {
    color: black;
    transition: 0.3s;
}

.nav_links:hover a{
    border-bottom: 1px solid black;
}



