/* header */

header {
    /* background-color: #EEF1FF; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    margin-top: 3.5rem;
}

header img{    
    backdrop-filter: blur(0.6rem);
    background-repeat: no-repeat, repeat;
    /* background-size: cover; */
}

@media screen and (max-width: 768px) {
    header img{
        background-repeat: no-repeat, repeat;
        background-size: cover;
        width: 100%;
        height: 100%;
    }
}

.head_subtitle{
    color: black;
    /* backdrop-filter: blur(6px); */
    background-color: rgba(252, 200, 152, 0.8);
    border-radius: 1rem;
    font-size: 16px;
    padding: 0.7rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}